
h1 {
  color: black;
}

.about {
  text-align: justify;
}

.logo {
  position: relative;
  top: -19px;
  left: -640px;
  height: 150px;
}

.getintouch {
  position: relative;
  height: 500px;
}

.contact {
  margin-top: -100px;
 margin-left: 150px;
}

.active {
  font-weight: bold;
  color: #bdbdbd ;
  font-size: 21px !important;
}

.navlinks {
  margin-right: 10px;
  padding-top: 17px;
  padding-right: 25px;
  color: white; 
}

a {
  font-family: 'Encode Sans', sans-serif;
  text-decoration: none;
  }

.home {
  padding: 50px;
}

.home-container, .login-container, .signup-container, .getintouch-container, .gettoknowus-container {
  padding: 40px;
  text-align: center;
}

.nav-wrapper {
  background-color: #ff7043;
  height: 100px !important;
}

.navlogout {
  color: black;
}

.footer {
background-color: #ff7043;
}

.btn {
  background-color: #e64a19 !important;
}

.caption {
  background-color: rgba(0, 0, 0, 0.3);
}

.about {
  margin: auto;
  padding: 20px;
  display: block;
  margin: auto;
  width: 60%;
}

.orange {
  box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 10px 12px rgba(0,0,0,0.20);
  text-align: center;
  position: relative;
  left: 165px;
  }


