
h1 {
  color: black;
}

.home {
  font-family: 'Encode Sans', sans-serif;
  position: absolute;
  top: 180px;
}

.gettoknowus, .getintouch, .signup, .login {
  text-align: center;
  padding: 60px;
  font-family: 'Encode Sans', sans-serif;
}


.logo {
  position: relative;
  top: -19px;
  left: -740px;
  height: 150px;
}

.navlinks {
  position: relative;
  top: 13px;
  left: 88px;
  color: white;
}

.userdropdown {
  font-family: 'Encode Sans', sans-serif;
  position: relative;
  top: 103px;
  right: 70px;
}

a {
  font-family: 'Encode Sans', sans-serif;
  text-decoration: none;
  }

.navbar {
  background-color: #ff7043;
  height: 100px !important;
}

.navlogout {
  color: black;
}


.btn {
  background-color: #e64a19 !important;
}

.caption {
  background-color: rgba(0, 0, 0, 0.3);
}


.orange {
  box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 10px 12px rgba(0,0,0,0.20);
  text-align: center;
  position: relative;
  left: 165px;
  }


