
h1 {
  color: black;
}

.home {
  font-family: 'Encode Sans', sans-serif;
  position: absolute;
  top: 180px;
}

.smallcard, .card, .card-image img {
  width: 60%;
}

.gettoknowus, .getintouch, .signup, .login, .loading, .RecipesPage {
  text-align: center;
  padding: 60px;
  font-family: 'Encode Sans', sans-serif;
}

.logo {
  position: absolute;
  top: -19px;
  left: -5px;
  height: 150px;
}

.navlinks {
  position: relative;
  top: 13px;
  left: 75px;
  color: white;
}

.usernav {
  position: relative;
  top: 100px;
  right: 70px;
}

.dropdown {
  font-family: 'Encode Sans', sans-serif;
}

a {
  font-family: 'Encode Sans', sans-serif;
  text-decoration: none;
  }

.navbar {
  background-color: #ff7043;
  height: 100px !important;
}

.btn {
  background-color: #e64a19 !important;
}

.caption {
  background-color: rgba(0, 0, 0, 0.3);
}


.orange {
  box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 10px 12px rgba(0,0,0,0.20);
  text-align: center;
  position: relative;
  left: 165px;
  }

.recipe {
  box-shadow: 0 19px 98px rgba(0, 0, 0, 0.08), 0 10px 12px rgba(0,0,0,0.09);
  text-align: center;
  color: #ff7043;
  margin: 0 auto;
}

.apiTitle {
  font-weight: bold;
  font-size: 20px;
}


