
h1 {
  color: black;
}

/*.Cooking-logo {
  position: relative;
  top: -186px;
  height: 180px;
}*/

.active {
  font-weight: bold;
}

li {
  list-style-type: none;
}

a {
  font-family: 'Encode Sans', sans-serif;
  text-decoration: none;
  color: black !important; 
}

.home-container, .signup-container, .getintouch-container, .gettoknowus-container {
  padding: 40px;
}

.nav-wrapper {
  background-color: #ff7043;
  height: 80px !important;
}

.btn {
  background-color: #ffab91 !important;
}

