
h1 {
  color: black;
}

.logo {
  position: relative;
  top: -19px;
  right: 3px;
  height: 150px;
}

.active {
  font-weight: bold;
  color: #bdbdbd ;
  font-size: 21px !important;
}

.navlinks {
  margin-right: 10px;
  padding-top: 15px;
  padding-right: 20px;
  color: white; 
}

a {
  font-family: 'Encode Sans', sans-serif;
  text-decoration: none;
  }

.home-container, .login-container, .signup-container, .getintouch-container, .gettoknowus-container {
  padding: 80px;
}

.nav-wrapper {
  background-color: #ff7043;
  height: 100px !important;
}

.btn {
  background-color: #e64a19 !important;
}

.caption {
  background-color: rgba(0, 0, 0, 0.3);
}


