
.App-nav {
  background-color: #801c23;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
}

.App-content {
  text-align: center;
}

.Cooking-logo {
  position: relative;
  top: -137px;
  height: 180px;
}


